#chat-screen{
    background-color: #abc1d1;
    height: 200vh;
}
.chat-status-bar{
    z-index: 2;
    background-color: #abc1d1;
}
#chat-screen .alt-header{
    position: fixed;
    width: 100%;
   box-sizing: border-box;
   background-color: #abc1d1;
}
.main-chat{
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.chat__timestamp{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 7px 12px;
    font-size: 14px;
    margin-bottom: 25px;
}
.message-row{
    width: 100%;
    display: flex;
}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 10px;
}
.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}
.message__bubble{
    background-color: white;
    padding: 7px 12px;
    border-radius: 7px;
    margin-right: 4px;
    border-top-left-radius: 0px;
}
.message__info{
    display: flex;
    align-items: flex-end;
   
}
.message__time{
    opacity: 0.8;
    font-size: 13px;
}
jjjj